.app {
  background-color: rgb(17, 16, 16);

  button {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.2rem;
    background-color: rgb(215, 8, 8);
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;

    &:active {
      scale: 0.8;
    }
  }
  .active{
    background-color: rgb(21, 19, 19);
  }

}
